.releaseFilm{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 10px;
    background-color: aqua;
}

.releaseFilm img {
    height: 400px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px solid black;
}

/* .boxCard{
    padding: 1em;
    background-color: black;
} */